.appContainer {
  background-color: #f2f2f2;
  /* height: 100vh; */
  display: flex;
  min-height: 100%;
  width: 100%;
  flex: 1;
}

html,
body,
#root,
.App {
  display: flex;
  min-height: 100%;
  width: 100%;
  flex: 1;
  background-color: #f2f2f2;
}
