.homeStyle {
  display: "flex";
  flex: 1;
  flex-direction: "column";
  min-height: 100%;
}

.sortModalStyles {
  position: fixed;
  bottom: 30px;
  left: 30px;
}

.addModalStyles {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
